<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app>

    <display-name>L13-war</display-name>

    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>war_ioc.server.AdminPage</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>timerServlet</servlet-name>
        <url-pattern>/timer</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>